<div class="container body-content" id="mainContent" style="position:relative;display:none">
    @Html.Partial("~/Views/Partial/Modal.cshtml")
    @Html.Partial("~/Views/Partial/Breadcrumb.cshtml")
    @Html.Partial("~/Views/Partial/ContentHolder.cshtml")
    @Html.Partial("~/Views/Partial/Footer.cshtml")
</div>