<div id="htmlHead">
    @Html.Partial("~/Views/Partial/Header.cshtml")
    @Html.Partial("~/Views/Partial/ToolBoxWindow.cshtml")
    @Html.Partial("~/Views/Partial/ContentShower.cshtml")
    @Html.Partial("~/Views/Partial/Navbar.cshtml")
</div>
