<div class="navbar navbar-dark bg-dark p-0 fixed-top" style="top:0;z-index:2;" id="navbar">
    <div class="navbar container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggler openNavBar" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
        <button class="navbar-toggler openNavBarRight" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="border btn-block" id="flow-editor-tabs">
        <div class="container-fluid justify-content-around p-0">
            <div class="nav nav-pills nav-justified btn-block" role="tablist" >
                <a class="nav-item nav-link active" id="nav-flow-design-tab" data-toggle="tab" href="#nav-flow-design" role="tab" aria-controls="nav-flow-design" aria-selected="true">Flow Designer</a>
                <a class="nav-item nav-link" id="nav-editor-tab" data-toggle="tab" href="#nav-editor" role="tab" aria-controls="nav-editor" aria-selected="false">Editor</a>
            </div>
        </div>
    </div>
</div>
