<nav aria-label="breadcrumb" id="breadCrumbNavbar">
    <ol class="breadcrumb dropdown right" id="breadCrumbNavbar-ol">
        @*<li class="breadcrumb-item">@Html.Partial("~/Views/Partial/DropDown.cshtml")</li>*@
        @*<li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item" aria-current="page">Data</li>*@
    </ol>
    <ol class="breadcrumb" id="null_breadCrumbNavbar">
        <li class="btn-group border-0 breadcrumb-item btn-block d-flex justify-content-center align-content-center">
            <a class="disabled">Nothing to show.</a>
        </li>
    </ol>
</nav>
