<div class="btn-group dropup m-3" style="margin-top:0 !important;position:fixed;bottom:0;right:0">
    <button type="button" class="btn btn-primary dropdown-toggle m-3" style="right:0;margin-right:0 !important;margin-top:0 !important;position:fixed;bottom:0" id="go-to-top"></button>
</div>
