<div class="table-responsive">
    <div class="card text-center">
        <div class="form-group btn-group list-group-item d-flex justify-content-between align-items-center row" style="cursor:pointer">
            <select class="custom-select col-md-3" onchange="if ($(this).val() == '0' || $(this).val() == '1') { $('#testInput').prop('disabled', 'disabled') } else { $('#testInput').prop('disabled', '') } if ($(this).val() < 8) { $('#testInput1').prop('disabled', 'disabled') } else { $('#testInput1').prop('disabled', '') }">
                <option selected value="0">Add Row</option>
                <option value="1">Add Column</option>
                <option value="2">Insert Row at</option>
                <option value="3">Insert Column at</option>
                <option value="4">Delete Row at</option>
                <option value="5">Delete Column at</option>
                <option value="6">Merge Rows</option>
                <option value="7">Merge Columns</option>
                <option value="8">Split Cell at Row and Column as RowSpan</option>
                <option value="9">Merge Cell at Row and Column as RowSpan</option>
                <option value="10">Split Cell at Row and Column as ColSpan</option>
                <option value="11">Merge Cell at Row and Column as ColSpan</option>
                <option value="12">Move Rows</option>
                <option value="13">Move Columns</option>
            </select>
            <input class="form-control col-md-3" type="text" id="testInput" disabled="disabled" placeholder="use , for merge/delete multiple cells." />
            <input class="form-control col-md-3" type="text" id="testInput1" disabled="disabled" placeholder="use , for merge/delete multiple cells." />
            <button type="button" class="btn btn-primary col-md-3">ok</button>
        </div>
    </div>
    <table class="table table-bordered table-hover table-before">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col"><a>First</a></th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
