<div style="border:1px solid gray;" class="m-0" id="toolbox-item" >
    <div class="btn-primary item-custom-fill row btn-group d-flex justify-content-between align-items-center m-0">
        <div class="col-md-8 d-flex justify-content-between align-items-center btn dropdown row">
            <i class="dropdown-toggle col-md-2 text-white collapseProp" id="toggle-button-context" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ></i>
            <span class="btn text-white col-md-10 pName" id="propName"></span>
        </div>
        <div class="col-md-4 d-flex justify-content-between align-items-center btn text-white row m-0 dropleft">
            <span class="badge badge-secondary badge-pill col-md-6" id="propCount"></span>
            <i class="material-icons col-md-6 propMore Header" data-toggle="modal" data-target="#editPropItems" id="more">edit</i>
        </div>
    </div>
    <div class="collapse m-0" id="collapseExample">
        <div class="card card-body" style="padding:0;border-radius:0">
            <div class="list-group" role="tablist">
                <div class="list-group-item list-group-item-action custom-list-group-item-action p-0" data-toggle="list" role="tab">
                    <div class="row m-0 d-flex justify-content-between align-items-center data">
                        <span class="col-md-5 btn name" id="propItemName">Name</span>
                        <span class="col-md-5 btn type" style="background-color:transparent"  id="propItemType">Type</span>
                        <div class="col-md-2 d-flex justify-content-between align-items-center btn m-0 dropleft">
                            <i class="material-icons propMore Item" data-toggle="modal" data-target="#editPropItems" id="propMore">edit</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
